/* ---------Menu-------- */

.search-form-control {
    width: 600px;
    
}

#input-control {
    width: 70%;
    height: 80%;
}
.home {
    margin: 10px;
    color: white;
}
.home:hover {
    background-color: black;
}
.infomation {
    margin: 10px;
}
.infomation:hover {
  background-color:black ;
}

.search-btn {
    width: 80px;
    height: 80%;
    border: none;
    background-color: orange;
}
.search-btn:hover {
  background-color: orange;
}
.cartbtn:hover {
  background-color: #FFD700;
}
.search-btn:visited {
  background-color: orange;
}
.cartbtn {
    background-color: orange;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 3cm;
    border: none;
}
.dropbtn {
    background-color: #4169E1;
    color: white;
    padding: 16px;
    font-size: 16px;
    border-color: black;
    cursor: pointer;
    border-radius: 3cm;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    
    width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #4169E1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #1E90FF;
  }
 .food-list {
    margin: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: white
  }
  .food-item {
    border:orange;
    margin: 10px;
    
    background-color: seashell;
    text-align: center;
    
  }
  .food-item img {
    width: 8cm;
    height: 6cm;
  }
