<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- customized stylesheet -->
    <link rel="stylesheet" href="./navigation.css" />

    <!-- title -->
    <title>Navigation</title>
</head>

<body>
    <header>
        <!-- Navigation bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!-- ----------------------- -->
            <div class="collapse navbar-collapse navbar-modification" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto home-info">
                    <li class="nav-item active nav-brand">
                        <a class="nav-link " style="color: white;" href="#">K2L<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <a href="#" target="_self" role="button" class="nav-btn">
                        Trang chủ</a>

                    <a href="#" target="_self" role="button" class="nav-btn">
                        Thông tin</a>

                </ul>
                <!--
                    Add more thing here
                -->
            </div>
            <!-- ------ -->
        </nav>
        <!-- End of navbar -->
    </header>

</body>

</html>